{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/clientesNovo" class="gerenciaText">
        <img class="icones " src="{% static '/ico/add-cliente.svg' %}"alt=""><br />
        Novo Cliente</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/clientesBusca" class="gerenciaText">
        <img class="icones " src="{% static '/ico/visualizar.svg' %}"alt=""><br />
        Visualizar Cliente</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="#" onclick="goBack()" class="gerenciaText">
        <img class="icones " src="{% static '/ico/voltar.svg' %}"alt=""><br />
        Voltar</a>
    </div>
</div>
{% endblock %}