{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/orcamentosHome" class="gerenciaText">
        <img  class="icones" src="{% static '/ico/orcamento.svg' %}"alt=""><br />
        Orçamentos</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/clientesHome" class="gerenciaText">
        <img class="icones" src="{% static '/ico/clientes.svg' %}"alt=""><br />
        Clientes</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/produtosHome" class="gerenciaText">
        <img  class="icones" src="{% static '/ico/produto.svg' %}"alt=""><br />
        Produto/Serviço</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/caixaHome" class="gerenciaText">
        <img  class="icones" src="{% static '/ico/caixa.svg' %}"alt=""><br />
        Caixa</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="#" class="gerenciaText">
        <img  class="icones" src="{% static '/ico/suporte.svg' %}"alt=""><br />
        Suporte</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/logout" class="gerenciaText">
            <img class="icones" src="{% static '/ico/exit.svg' %}"><br />
        Sair</a>
    </div>
</div>
{% endblock %}