{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="/gerencia/clientes" class="gerenciaCaption">
                <img class="icones" src="{% static '/ico/clientes.svg' %}"alt=""><br />
                Clientes</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="gerenciaCaption">
                <img  class="icones" src="{% static '/ico/orcamento.svg' %}"alt=""><br />
                Orçamentos</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="gerenciaCaption">
                <img  class="icones" src="{% static '/ico/fornecedor.svg' %}"alt=""><br />
                Fornecedores</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="gerenciaCaption">
                <img  class="icones" src="{% static '/ico/relatorios.svg' %}"alt=""><br />
                Relatórios</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="gerenciaCaption">
                <img  class="icones" src="{% static '/ico/suporte.svg' %}"alt=""><br />
                Suporte</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="/logout" class="gerenciaCaption">
                    <img class="icones" src="{% static '/ico/exit.svg' %}"><br />
                Sair</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}