{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/orcamentosNovo" class="gerenciaText">
        <img class="icones " src="{% static '/ico/addGeneral.svg' %}"alt=""><br />
        Novo Orçamento</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/orcamentosBusca" class="gerenciaText">
        <img class="icones " src="{% static '/ico/confirmOrcamento.svg' %}"alt=""><br />
        Confirmar Orçamento</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/orcamentosBusca" class="gerenciaText">
        <img class="icones " src="{% static '/ico/visualizar.svg' %}"alt=""><br />
        Visualizar Orçamentos</a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 gerencia">
        <a href="/gerencia/" class="gerenciaText">
        <img class="icones " src="{% static '/ico/voltar.svg' %}"alt=""><br />
        Voltar</a>
    </div>
</div>
{% endblock %}