{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
{% if msgConfirmacao %}
<script>alert('{{msgConfirmacao}}')</script>
{% endif %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 float-left">
        <img class="iconesMenores " src="{% static '/ico/addGeneral.svg' %}" alt=""><br>
        <span>Novo/Editar Orçamento</span>
    </div>
</div>
<form action="/gerencia/orcamentosNovo/" method="POST">
    {% csrf_token %}
    <div class="form-row">
        {% if clienteObjto %}
        <input type="hidden" name="clienteID" value="{{clienteObjto.id}}" />
        <div class="form-group col-sm-12 col-md-12">
            <br>
            <label>Cliente</label>
            <input type="text" name="nome" value="{{clienteObjto.nome}}" class="form-control" maxlength="300"
                placeholder="Nome Completo" disabled>
        </div>
        {% endif %}
        {% if orcamentoObj %}
        <input type="hidden" name="orcamentoID" value="{{orcamentoObj.id}}" />

        <div class="form-group col-sm-12 col-md-4">
            <br>
            <label>Nro. Orçamento</label>
            <input type="text" name="nome" value="{{orcamentoObj.id}}" class="form-control" maxlength="300"
                placeholder="Nro. Orçamento" disabled>
        </div>
        <div class="form-group col-sm-12 col-md-12">
            <label>Cliente</label>
            <input type="text" name="nome" value="{{orcamentoObj.cliente.nome}}" class="form-control" maxlength="300"
                placeholder="Nome Completo" disabled>
        </div>
        {% endif %}
        <div class="form-group col-sm-8 col-md-4">
            <label>Produto</label>
            <select name="produtoID" class="form-control">
                <option value="None" selected> -- Produtos -- </option>
                {% for produtoModel in produtosAtivos %}
                <option value={{produtoModel.id}}>{{produtoModel.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-4 col-md-1">
            <label>Qnt.</label>
            <input type="number" name="qntProd" step="0.1" class="form-control" maxlength="5" placeholder="0">
        </div>
        <div class="form-group col-sm-0 col-md-2">
        </div>
        <div class="form-group col-sm-8 col-md-4">
            <label>Serviço</label>
            <select name="servicoID" class="form-control">
                <option value="None" selected> -- Serviços -- </option>
                {% for produtoModel in servicosAtivos %}
                <option value={{produtoModel.id}}>{{produtoModel.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-4 col-md-1">
            <label>Qnt.</label>
            <input type="number" name="qntServ" step="0.1" class="form-control" maxlength="5" placeholder="0">
        </div>
        <div class="col-sm-12 col-md-12">
            <br>
            <div class="float-right">
                <input class="btn btn-outline-success " type="submit" value="Adicinar Itens" />&nbsp;&nbsp;&nbsp;
                {% if orcamentoObj %}
                <button class="btn btn-outline-success " type="submit" formmethod="GET"
                    formaction="/gerencia/orcamentosVisualizar">Finalizar</button>
                {% endif %}
            </div>
            <div class="cancelarOrc">
                <input class="btn btn-outline-secondary float-left" type="submit" value="Cancelar" formmethod="GET"
                    formaction="/gerencia/orcamentosHome/" />
            </div>
        </div>
        {% if orcamentoObj %}
        <div class="form-group col-sm-12 col-md-12">
            <br>
            <table class="table">
                <thead>
                    <tr class="cabecalhoTable">
                        <th width="5%" scope="col">#</th>
                        <th width="60%" scope="col">Itens</th>
                        <th width="10%" scope="col">Valor Un.</th>
                        <th width="10%" scope="col">Qnt.</th>
                        <th width="10%" scope="col" class="text-right">Valor Total</th>
                        <th width="5%" scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% if orcamentoObj.produtoItem %}
                    {% for produtoItemModel in orcamentoObj.produtoItem.all %}
                    <tr>
                        <th scope="row">{{produtoItemModel.produto.id}}</th>
                        <td>{{produtoItemModel.produto.nome}}</td>
                        <td>R$ {{produtoItemModel.produto.valor|floatformat:2}}</td>
                        <td>{{produtoItemModel.quantidade}}</td>
                        <td>R$ {{produtoItemModel.total|floatformat:2}}</td>
                        <td><button class="btn btn-outline-danger " type="submit" name="prodItemIDNovo"
                                formaction="/gerencia/orcamentosExcluirItem/" value="{{produtoItemModel.id}}">X</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="form-group col-sm-12 col-md-12">
            <label class="totalOrc float-right">Total: R$ {{orcamentoObj.total|floatformat:2}}</label>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}