{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
{% if msgConfirmacao %}
<script>alert('{{msgConfirmacao}}')</script>
{% endif %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 float-left">
        <img class="iconesMenores " src="{% static '/ico/visualizar.svg' %}" alt=""><br>
        <span>Visualizar Orçamento</span>
    </div>
</div>
<form action="/gerencia/orcamentosNovo/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="orcamentoID" value="{{orcamentoObj.id}}" />
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-4">
            <br>
            <label>Nro. Orçamento</label>
            <input type="text" name="nome" value="{{orcamentoObj.id}}" class="form-control" maxlength="300"
                placeholder="Nro. Orçamento" disabled>
        </div>
        <div class="form-group col-sm-12 col-md-4">
            <br>
            <label>Estado</label>
            <input type="text" name="nome" value="{{orcamentoObj.get_estado_display}}" class="form-control"
                maxlength="300" placeholder="Estado" disabled>
        </div>
        <div class="form-group col-sm-12 col-md-12">
            <br>
            <label>Cliente</label>
            <input type="text" name="nome" value="{{orcamentoObj.cliente.nome}}" class="form-control" maxlength="300"
                placeholder="Nome Completo" disabled>
        </div>
        <div class="col-sm-12 col-md-12">
            <br>
            <div class="float-left">
                <button type="button" class="btn btn-outline-secondary float-right" onclick="goBack()">Voltar</button>
            </div>
            <div class="float-right">
                <input class="btn btn-outline-success " type="submit" value="Adicinar Itens" />&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        {% if orcamentoObj %}
        <div class="form-group col-sm-12 col-md-12">
            <br>
            <table class="table">
                <thead>
                    <tr class="cabecalhoTable">
                        <th width="5%" scope="col">#</th>
                        <th width="60%" scope="col">Itens</th>
                        <th width="10%" scope="col">Valor Un.</th>
                        <th width="10%" scope="col">Qnt.</th>
                        <th width="10%" scope="col" class="text-right">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% if orcamentoObj.produtoItem %}
                    {% for produtoItemModel in orcamentoObj.produtoItem.all %}
                    <tr>
                        <th scope="row">{{produtoItemModel.produto.id}}</th>
                        <td>{{produtoItemModel.produto.nome}}</td>
                        <td>R$ {{produtoItemModel.produto.valor|floatformat:2}}</td>
                        <td>{{produtoItemModel.quantidade}}</td>
                        <td>R$ {{produtoItemModel.total|floatformat:2}}</td>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="form-group col-sm-12 col-md-12">
            <label class="totalOrc float-right">Total: R$ {{orcamentoObj.total|floatformat:2}}</label>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}